<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>
        <add name="ConsoleAppContext" connectionString="Data Source=ConsoleAppDbServer;Initial Catalog=ConsoleAppDatabade;User ID=username;Password=pa$$w0rd" />
    </connectionStrings>

    <appSettings>
        <add key="ConsoleAppKey" value="ConsoleAppValue" />

        <!-- Encryption provider can be either DataProtectionConfigurationProvider or RsaProtectedConfigurationProvider -->
        <add key="EncryptionProvider" value="DataProtectionConfigurationProvider" />

        <!-- In order to confirm if the value is correctly populated or not after encryption -->
        <!-- Type any connection string name in the config file -->
        <add key="ConnectionStringName" value="ConsoleAppContext" />
        <!-- Type any app setting key in the config file -->
        <add key="AppSettingKey" value="ConsoleAppKey" />
    </appSettings>
</configuration>